body{
    margin: 0;
    padding: 0;
}
#container{
    background-color: #009688;
    min-height: 100vh;
}

#header{
    background-color: #e040fb;
    min-height: 100px;
    text-align: center;
    /* text align căn giữa dòng còn line-height là để căn giữa theo chiều dọc*/
    line-height: 100px;
}

#left-sidebar, #right-sidebar{
    background-color: #ff9800;
    min-height: 200px;
    width:20% ;
    /*ép left and right sidebar nổi lên trên content và footer tuy nhiên đè lên luôn => phải float luôn content left*/
    float: left;
}

#content{
    background-color: #8bc34a;
    min-height: 300px;
    width: 60%;
    /*nhưng ép content rồi footer vẫn bị ép lên theo right sidebar =>clear both ở footer */
    float: left;
}

#footer{
    background-color: #03a9f4;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    clear: both;/*xóa float đi*/
}

.menu, .submenu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li{
    padding-left: 10px;
    background-color: #7b1fa2;
    color: #fff;
    height: 25px;
    line-height: 25px;
    margin-bottom: 1px;
}

.menu li:hover{
    background-color: #009688;
}
/*Khi menu hover lên thì submenu visible */
.menu li:hover .submenu{
    visibility: visible;
}

.submenu{
    /*absolute submenu hiện lên trên menu chính*/
    position: absolute;
    margin-top: -25px;
    margin-left: 90px;
    visibility: hidden;
}
.submenu li {
    background-color: #455a64;
}
.submenu li:hover{
    background-color: #ffc107;
    color: #000;
}